*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    
    
}

/* Header */




main h1 {
    
    position:absolute;
    background-color: #031b63;
    display:flex;
    justify-content:center; 
    width: 40%;
    padding: 0.5em 0 0.5em 0;
    font-size:46.278px;
    z-index: 100;
   
}

img{
    width: 100%;
   
    
}

nav{
    background: #fff;
    display:flex;
    justify-content: space-between;
    
    align-items: center;
    
    width:100%;
    height:53px;
}

label.logo{
    
    padding: 1em;
    width: 10em;
    background-image: image("images/logo.svg");
    background-repeat: no-repeat;
    background-position:center; 
    background-size:cover;
}


a{
    
    color: #4d4e53;
    text-decoration: none;
    
}

a:hover{
    text-decoration: underline;
}

header ul{
    margin:0;
    padding: 0;
    display:flex;
}

header li{
    list-style: none;
}

header li a:hover{
    color: #5ecdfc;
    text-decoration: underline;
}


header li a{
    text-decoration: none;
    color: #4d4e53;
    padding: 1em;
    display:block;
}

/* Sections */

main section{
   
    /*display:grid;
    grid-template-columns: repeat(auto-fit, minmax(23em,1fr));
    grid-gap: 2em; */
    
    /*position:relative;
    display:flex;
    justify-content: space-between;
    align-content: center; */
     
}


div{
  display:grid;
    grid-template-columns: repeat(auto-fit, minmax(23em,1fr));
    grid-gap: 2em;  
  
    
}

section button{
    
    position: relative;
    background-color: #079edc;
    margin:0px 48px;
    padding:7px 48px;
    outline:none;
    font-size:18px;
    color:white;
    border: 0px;
    border-radius: 5px;
    
     
}

section h2{
 
   display: inline;
    
    
    width: 100%;
}

section h3{
 
  
    
}

div > section p,h2,h3,ul,li {
    
    color:white;
}


section h3 a{
    text-decoration: none;
    color:#4d4e53;
}

section h3 a:hover{
    text-decoration: underline;
}


/* article */

article > a{
    color: #079edc;
    text-decoration: none
    
}

article > a:hover{
    color: #079edc;
    text-decoration: underline;
    
}

article{
    max-width: 1440px;
    margin: 0 auto;
    position:relative;
    background-color: white;
    
    
    border-radius: 15px;
}
   


article p {
    position:relative;
    padding: 0.5em 2em 0.5em 2em;
    
}

article > img {
    
    border-radius: 15px 15px 0 0;
    
}

article h3{
    font-size: 20px;
}

article a{
    
    display: inline-block;
    text-decoration: underline;
    
    padding: 0.5em 0 0.5em 1.5em;
}

main div{
    
    
}

article > img{
    
   
    width: 100%;
    
}


/* classes */


div.container{
    
    background-image: url('../images/foto1.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
    
}

div.container2{
      background-image: url('../images/bg-image.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
    
}

section.container{
    margin-top:5em;
    background: #f8f8f8;
    width: 100%;
    max-width: 1440px;
    margin:auto 0;
}


section.container2{

    
    background:#EFEFEF;
    width: 100%;
}


.container3{
    max-width: 1440px;
    margin: auto 0;
}

section > li {
    
    list-style: circle;
}


 #4d4e53

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
 
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #4d4e53;;
    border-radius: 10px;
    
}

.navButton{
    background:#5ecdfc;
    color: #fff;
    border-radius: 5px;
    
}

.headerImage{
    
   
    z-index: -2;
 display:flex;
}

.gradiant{
    
     background: -webkit-linear-gradient(45deg, #f3ec78, #af4261);
    
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 886px){
    .toggle-button{
        display: flex;
    }
    
    header li{
         display:none; */ 
    }
    
    header nav{
        flex-direction: column;
        align-items: flex-start;
    }
    header ul{
        flex-direction: column;
        width: 100%;
        padding-left: 1em;
    }
}

li.active{
    display:flex;
}



